
.newsletter-signup-form {
  border: 1px solid #E0E0E0;
  padding: 10px 10px 0px;

  .different-address {
    cursor: pointer;
  }

}

.formError {
  color: red;
  position: relative;
  bottom: 8px;
}
